.top-menu-component {
  font-size: 14px;
  background-color: #E6E6E6;
  height: 38px;
}

.top-menu__logo {
  display: block;
  float: left;
  width: 190px;
  height: 100%;
  background-color: #141414;
  text-align: center;
  line-height: 38px;
  color: white;
  font-size: 20px;
}

.top-menu__content {
  display: block;
  height: 100%;
  border-bottom: 1px solid #C6C6C6;
}

.top-menu__content__menu {
  position: relative;
  display: inline-block;
  height: 37px;
}

.top-menu__content__menu a {
  color: #4D4D4D;
  display: inline-block;
  font-weight: bold;
  margin: 9px 25.5px;
  padding-bottom: 7px;
}

.top-menu__content__menu a:hover {
  color: #000;
  text-decoration: none;
}

.top-menu__content__menu a:focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

.top-menu__content__menu .active-menu {
  border-bottom: 2px solid #00A3F2;
  color: #000;
}